@import 'irozhlas';
@import 'podcasts';
@import 'currancy';
@import 'covid';
@import 'jidlo';


@import 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Noticia Text', serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;

    #update {
        align-self: flex-start;
    }
}

section {
    max-width: 600px;
    width: 90%;
    margin-top: 30px;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    height: 15vh;
    align-items: center;
    margin-top: 2vh;

    header {
        width: 80%;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 5vh;
            text-align: center;
        }

        p {
            font-size: 2.5vh;
            text-align: center;
        }

        h2 {
            text-align: left;
        }

        #date {
            padding: 4px;
            border-radius: 0.5rem;
        }

        .holiday-active {
            background-color: #42ff71;
        }
    }
}